body {
  box-sizing: border-box;
  font-size: 16px;
  color: solid black;
  background-color: #CCCCCC;
  font-family: 'Pathway Gothic One', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #6382FF;
  border-radius: 0;
  border: 0;
}
#p1{  
  background-color: #E1E4FF;

  color: black;
  margin: auto;
  padding: 5px;
}

.navbar-brand {
  padding-top: 20px;
}

.navbar-brand h1 { 
  font-family: 'Pathway Gothic One', sans-serif;
  color: solid black;
  /*font-size: 1.5em;
  */text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;

}

#nav-list {
  margin-top: 50px;
}
#nav-list a {
  color: solid black;
  text-align: center;
}
#nav-list a:hover {
  background: #CCCCCC;
}
#nav-list a span {
  font-size: 1.8em;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
  clear: both;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/********** Large devices only **********/
@media (min-width: 1200px) {

  #p1{
    border: 1px solid black;
    width: 95%;
    margin: 20px auto;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

    #p1{
    border: 1px solid black;
    width: 95%;
    margin: 20px auto;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #p1{
    border: 1px solid black;
    width: 85%;
    margin: 20px auto;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    color: black;
    border: 1px solid black;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #p1{
    border: 1px solid black;
    width: 80%;
    margin: 20px auto;
  }

  /* End Header */

}

